/* 
  Import the following Google Fonts / Font Weight:
   - Cabin Sketch / 700
   - Fredericka the Great / 400
  
   Use the following Background Image
    - https://images.unsplash.com/photo-1531315630201-bb15abeb1653?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60
 */

 * {
    box-sizing: border-box;
  }

  article {
    background-image: url("https://images.unsplash.com/photo-1531315630201-bb15abeb1653?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    width: 650px;
    height: 750px;
    margin: 0 auto;
}

p {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Saira Extra Condensed';
    margin: 0 auto;
}

.top {
    margin-top: 110px;
}

.normal {
    font-size: 50px;
    font-family: 'Cabin Sketch'; 
}

.emph {
    font-size: 60px;
    font-family: 'Fredericka the Great';     
}

#brown {
    color: brown;
}

#yellow {
    color: yellow;
}

#green {
    color: darkolivegreen;
}

#blue {
    color: darkblue;
}

#pink {
    color: pink;
}