/* 
  Import the following Google Fonts / Font Weight:
   - Saira Extra Condensed / 700
   - Cabin Condensed / 700
  
   Use the following Background Image
    - https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60
 */

 * {
    box-sizing: border-box;
  }
  
  
article {
    background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    width: 500px;
    height: 750px;
    margin: 0 auto;
} 

p {
    color: purple;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Saira Extra Condensed';
    padding: 0;
    margin: 0;
    line-height: 0.77em;
}
.top {
    margin-top: 50px;
}

.smaller {
    font-size: 80px;
}

.bigger {
    font-size: 95px;
}

.emph {
    font-family: 'Cabin Condensed';
}

#green {
    color: darkolivegreen;
}

#purple {
    color: magenta;
}

#yellow {
    color: goldenrod;
}

#blue {
    color: teal;
}

#maroon {
    color: maroon;
}