/* 
  Import the following Google Fonts / Font Weight:
   - Mali / 700
   - Montserrat / 600
  
   Use the following Background Image
    - https://images.unsplash.com/photo-1496404690491-28c5b1ecde19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60
 */
* {
    box-sizing: border-box;
}
  
article {
    background-image: url("https://images.unsplash.com/photo-1496404690491-28c5b1ecde19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    width: 600px;
    height: 500px;
}

p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat';
}

.quote {
    font-size: 23px;
}
  
.words {
    font-family: 'Mali';
}

.name {
    text-align: right;
    margin-right: 50px;
    font-size: 15px;
}

#curiosity {
    color: orange;
}

#lifetime {
    color: salmon;
}

#facts {
    color: palevioletred;
}