* {
    box-sizing: border-box;
}
  
article {
    background-image: url("https://res.cloudinary.com/aetherfall/image/upload/v1582693399/giving-tuesday1_gi6gti.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

p {
    color: white;
    text-align: right;
    margin-right: 10px;
    font-family: 'Ubuntu';
    font-size: 23px;
    line-height: 0.8em;
}

.quote {
    
}
  
.words {
    font-family: 'Mali';
}

.name {
    font-family: 'Cormorant Infant';
    font-size: 20px;
}

.top {
    margin-top: 42px;
}

#lightgreen {
    color: rgb(80, 226, 124);
    text-transform: uppercase;
    font-family: 'Indie Flower';
    font-size: 30px;
}

#salmon {
    color: salmon;
    text-transform: uppercase;
    font-family: 'Indie Flower';
    font-size: 30px;
}

#red {
    color: rgb(235, 62, 62);
    text-transform: uppercase;
    font-family: 'Indie Flower';
    font-size: 30px;
}

#green {
    color: rgb(33, 236, 94);
    text-transform: uppercase;
    font-family: 'Indie Flower';
    font-size: 30px;
}